
  <div class="row">
   

      <%= simple_form_for @list , remote: true do |f| %>
            
                    <%=  render 'errors', list: @list %>

      	   <%= f.hidden_field :authenticity_token, :value => form_authenticity_token %>
           <div class="input-field col s12 m6 l8">
      	     <%= f.input :name, label: false,:placeholder => 'Nombre de la lista',:inner_html => { id: 'input-text'} %>
           </div>
           <div class="input-field col s12 m6 l4" style="display: flex;" >
           <%=  f.button  :button, 'Borrar', :type => 'reset', :class => 'btn'%>
      	   
           <%= f.submit 'Enviando...', :class => "right waves-effect blue darken-3 btn",:value => 'Enviar' %>
        
           </div>

      <% end %>
  </div>
