
  <div class="row">
   

      <%= simple_form_for @list do |f| %>
          
          <%=  render 'errors', list: @list %>

      	   <%= f.hidden_field :authenticity_token, :value => form_authenticity_token %>
           <div class="input-field col s12 m6 l10">
      	     <%= f.input :name, label: false,:placeholder => 'Crear una nueva lista' %>
           </div>
           <div class="input-field col s12 m6 l2">
           <%=  f.button :button, 'Cancel', :type => 'reset', :class => 'btn'%>
      	     <%= f.button :submit, :class => "waves-effect blue darken-3 btn",:value => 'Crear'  %>
           </div>

       <% end %>
  </div>
