	<div class="wow  content-card " style="margin-top: 0;">	
				
				<div class="row " >
					<div class="col s12" >
						<div class="col s9 contener-texto">
											
							<h5 id="title-list" class="font-ubuntu">			
							<%=	@list.name %> </h5>

						</div>

						<div class="col s3"  >
						<a class="tooltipped btn-floating waves-effect waves-light" href="<%= lists_path %>" data-position="bottom" data-delay="50" data-tooltip="Volver">	<i id="edit" class="material-icons ">replay</i>	</a>
						
						<a class="tooltipped  btn-floating waves-effect waves-light" href="#modalListEditName" data-position="bottom" data-delay="50" data-tooltip="Cambiar nombre">	<i id="edit" class="material-icons ">edit</i></a>
							

		                  <a class="tooltipped  dropdown-button btn-floating waves-effect waves-light " href="#!" data-activates="dropdown2"
		                  data-tooltip="Crear tarea" >

		                  <i class="mdi-editor-vertical-align-bottom material-icons left " > add</i></a>
		                          <ul id="dropdown2" class="dropdown-content">
		                            <li><%= link_to  'Tarea Simple', new_list_task_simple_path(@list)  %>
		                            </li>
		                            <li><%= link_to  'Tarea Larga', new_list_task_long_path(@list)  %>
		                            </li>
		                            <li><%= link_to  'Tarea Temporal', new_list_task_temporary_path(@list)  %>
		                            </li>
		                          </ul>

						</div>
					</div>					
				</div>
				<hr id="line">
		<br>

			<div class="row">
						<div class="col s12"> 
			<div class="col s4">
				<strong>Fecha de creación:</strong> <%= @list.created_at%> 
			</div>
			<div class="col s4">
				<strong>Última modificación:</strong>
				<%= @list.last_update%>  <br>
			</div>
			<div class="col s4">
			 <div class="chip" id="clipboard-btn" data-clipboard-text="<%= request.url %>">
			 	Copiar url
			 	<i id  class="fa fa-clipboard" aria-hidden="true"></i>

			 </div>
		

						
			</div>
		</div>
			</div>
	



		 	<table>
		 		<thead> 
			 		<tr>
			 			<th>Prioridad</th>
			 			<th>
				 			<i class="fa fa-clock-o" aria-hidden='true'></i>
				 			Tareas Temporales
			 			</th>
			 			<tr>
			 		</tr>
			 		
		 		</thead>
		 		<tbody>

			 			<%= render @task_temporaries or content_tag(:tr,content_tag(:td, 'Elementos no disponibles')) %>	 			
			 		
		 		</tbody>
		 	</table>				
			
			<table>
				<thead>
					<tr>	
						<th>Prioridad</th>					
						<th>
							<i class="fa fa-arrows-h" aria-hidden='true'></i>
							Tareas Largas
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<%= render @task_longs or content_tag(:tr,content_tag(:td, 'Elementos no disponibles')) %>
				</tbody>


			</table>
			

			<table>
				<thead>
					<tr>
						<th>Prioridad</th>
						<th>
						<i class="fa fa-file-text-o" aria-hidden='true'></i>
						Tareas Comunes</th>
						<th></th>

					</tr>
				</thead>

				<tbody>
						<%= render @task_simples or content_tag(:tr,content_tag(:td, 'Elementos no disponibles'))%>
					
				</tbody>

			</table>

				
						

		 	



	
	

		
	</div>


  <!-- Modal  edit name -->
		  <div id="modalListEditName" class="modal bottom-sheet">
		    <div class="modal-content">
		      <h4>Renombrar tarea</h4>
		        	
				<%= render 'form', list: @list%>

		    </div>
		    <div class="modal-footer">
		      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
		   
		    </div>
		  </div>
		
	