			<tr id="<%=task_simple.id %>"> 
				<td> 
					<%= render partial: "partials/priorities/#{task_simple.priority.downcase}"  %>
				 </td>
				<td>
						
					<div>
					<div id="state-<%=task_simple.id%>" class='inline' >
						
						<%= render partial: "partials/states/#{task_simple.state.downcase}"  %>
					</div>
						
					<%=  best_in_place  [@list,task_simple], :description, :as => :textarea,:inner_class => 'materialize-textarea' %> </div>
					
					<div class="footer-div" >
					</div>
				</td>
				<td width="100px">
					<%= link_to  "/finish/task/#{task_simple.id}", :remote=> true , method: :patch,data: { confirm:  t('confirm')} do %>
							<i class="fa fa-check-square-o fa-lg" aria-hidden='true '></i>
					<%end %>

					<a href= "<%= edit_list_task_simple_path(id:task_simple.id,list_id:task_simple.list.url)%>" >
						<i class="fa fa-pencil fa-lg" aria-hidden='true'> </i>
					</a>
		               

					    <%= link_to list_task_simple_url(@list.url,task_simple.id), method: :delete, data: { confirm:t('confirm') },:remote => true  do %>
					 	<i class="fa fa-trash fa-lg" aria-hidden='true'></i> 
						<% end %>

				</td>
          	</tr>


     
		


						

						 	

						 	
						 	
						 

						
				