	<div class="row " style="margin-bottom: 0px">
        <div class="col s12" id="<%= task.id%>">
          <div class="card grey lighten-3">
            <div class="card-content ">
             <p> <%= task.description %><p>
             <strong> Tipo de Tarea:</strong> <%= task.type %> 
			  <strong> Estado: </strong> <%= task.state.capitalize%>
			
            </div>
            <div class="card-action">
            	<a href= "<%= edit_task_path(task)%>" ><i class="material-icons">edit</i></a>
               
					
			   

			  <%= link_to task_path(task), method: :delete, data: { confirm: 'Quieres borrar ? ' },:remote => true  do %>
			 	<i class="material-icons">delete</i>
				<% end %>

				<% case task.priority %>
				<%  when "Alta" then %>
				     <span class="new badge red" data-badge-caption="Prioridad <%= task.priority.capitalize %>" > </span>
				<%  when "Media"  then  %>
					 <span class="new badge orange" data-badge-caption="
					 Prioridad <%= task.priority.capitalize %>" ></span>
				<% when "Baja"  then  %>
				     <span class="new badge gren" data-badge-caption="
				     Prioridad <%= task.priority.capitalize %>" > </span>
			 	<% end %>

            </div>
          </div>
        </div>
      </div>
		


						

						 	

						 	
						 	
						 

						
				