
			 
			  	<%= simple_form_for ([@list,@task]) do |f| %>
			  		
			  		<%= f.input :type, :as => :hidden, :input_html => { :value => @task.type }  %>

			      	 <%= f.input :description, as: :text, label: "Descripción",:placeholder => 'Descripción', input_html: {id: "description",class: "materialize-textarea"}, required: true %>
			      	
			      	 <%= f.select :priority, Task.priorities.keys, :label => "Prioridad" ,prompt: "Seleccione" %>

			     
			      	<%= f.select :state, [['Pendiente', 'Pendiente'], ['En curso', 'En_curso'],['Hecha','Hecha']],prompt: "Seleccione", label: "Estado"  %>
				
						<div class="input-field">
						 <p class="range-field">
							<%= f.input :progress ,as: :range, label:"Progreso" %>
						</p>
						</div>
					
					

					 <%= f.button :submit, :class => "right waves-effect blue darken-3 btn",:value => 'Enviar' %>
					 <% end %>

		     	
