
			 
			  	<%= simple_form_for ([@list,@task]) do |f| %>
			  		
			  		 <%=  render 'errors', task: @task %>

			  		<%= f.input :type, :as => :hidden, :input_html => { :value => @task.type }  %>

			      	 <%= f.input :description, as: :text, label: "Descripción",:placeholder => 'Descripción', input_html: {id: "description",class: "materialize-textarea"}, required: true %>
			      	
			      	 <%= f.select :priority, Task.priorities.keys, :label => "Prioridad" ,prompt: "Seleccione" %>

			 
				
						<div class="input-field">
						 <p class="range-field">
							<%= f.input :progress ,as: :range, label:"Progreso" %>
						</p>
						</div>
					


					 <%= f.submit 'Enviando...', :class => "right waves-effect blue darken-3 btn",:value => 'Enviar' %>
					 <% end %>

		     	
