
			<tr id="<%=task_long.id %>">
				<td>
					<%= render partial: "partials/priorities/#{task_long.priority.downcase}"  %>
				</td>
				<td> 

					<div>
						<div id="state-<%=task_long.id%>" class="inline" >
							
							<%= render partial: "partials/states/#{task_long.state.downcase}" %>						
						</div>

						<%=  best_in_place  [@list,task_long], :description, :as => :textarea ,:inner_class => 'materialize-textarea'%> 
					</div>
					<div class="footer-div">
						

						<strong><%=t('progress') %>: </strong> <%= task_long.progress%>%


						
					</div>
 
			   </td>
			   <td width="100px">
			   		
			    		<a href= "<%= edit_list_task_long_path(@list,task_long)%>" ><i class="fa fa-pencil fa-lg" aria-hidden='true'></i> </a>
			    	 	
			    	 	 <%= link_to list_task_long_path(@list,task_long), method: :delete, data: { confirm: t('confirm') },:remote => true  do %>
			 			<i class="fa fa-trash fa-lg" aria-hidden='true'></i> 
			 			<%end%>

			   </td>
			 </tr>


						

						 	
