		
		<tr id="<%= task_temporary.id%> ">
				<td>
					<% case task_temporary.priority %>
					<%  when "Alta" then %>
					     <span class="chip red" data-badge-caption="" >
					     	<i class="fa fa-star" aria-hidden="true"></i>
					      </span>
					<%  when "Media"  then  %>
						 <span class="chip orange" data-badge-caption="" >
						 	<i class="fa fa-star-half-o" aria-hidden="true"></i>
						 </span>
					<% when "Baja"  then  %>
					     <span class="chip gren" data-badge-caption="" >
					     	<i class="fa fa-star-o" aria-hidden="true"></i>
					      </span>
				 	<% end %> 
				</td>
				<td>

					<div>
						<% case task_temporary.state %>
						<%  when "Hecha" then %>
						     <span class="chip " data-badge-caption="" > 
						     	<i class="fa fa-check" aria-hidden="true"></i>

						     </span>
						<%  when "Pendiente"  then  %>
							 <span class="chip" data-badge-caption="
							" >
								<i class="fa fa-thumb-tack" aria-hidden="true"></i>

							</span>
						<%  when "Expirada"  then  %>
							 <span class="chip" data-badge-caption="
							" >
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

							</span>
					 	<% end %>

					  <%=  best_in_place  [@list,task_temporary], :description, :as => :textarea ,:inner_class => 'materialize-textarea'%> </div>
					<div class="footer-div">
						<strong> Estado: </strong> <%= task_temporary.state  %>
						
						 <strong >Fecha Inicio:</strong> <%= task_temporary.date_begin %>
					
						 <strong >Fecha Fin: </strong> <%= task_temporary.date_end %>		    
			    
			 
					</div>
				
				</td>

				<td width="100px">
						<a href= "<%= edit_list_task_temporary_path(@list,task_temporary)%>" ><i class="material-icons">edit</i></a>
						 <%= link_to list_task_temporary_path(@list,task_temporary), method: :delete, data: { confirm: '¿ Quieres borrar ? ' },:remote => true  do %>
				 		<i class="material-icons">delete</i>
						<% end %>

				</td>
				
		</tr>       
          
			   

			 

			

      