		
		<tr id="<%= task_temporary.id%>">
				<td >
					<%= render partial: "partials/priorities/#{task_temporary.priority.downcase}"  %>
				</td>
				<td width="80%">

					<div>
						<div id="state-<%=task_temporary.id%>" class="inline" >
							
							<%= render partial: "partials/states/#{task_temporary.state.downcase}" %>						
						

						</div>

					  <%=  best_in_place  [@list,task_temporary], :description, :as => :textarea ,:inner_class => 'materialize-textarea'%> </div>
					<div class="footer-div">
												
						 <strong ><%= t('date-begin')%>:</strong> <%= task_temporary.date_begin %>
					
						 <strong ><%= t('date-end')%>: </strong> <%= task_temporary.date_end %>		    
			    
			 
					</div>
				
				</td>

				<td width="100px">

						<%= link_to  "/finish/task/#{task_temporary.id}", :remote=> true , method: :patch,data: { confirm: t('confirm')} do %>
							<i class="fa fa-check-square-o fa-lg" aria-hidden='true '></i>
						<%end %>

						<a href= "<%= edit_list_task_temporary_path(@list,task_temporary)%>" >
							<i class="fa fa-pencil fa-lg" aria-hidden='true'></i>
						</a>
						 <%= link_to list_task_temporary_path(@list,task_temporary), method: :delete, data: { confirm: t('confirm') },:remote => true  do %>
				 		<i class="fa fa-trash fa-lg" aria-hidden='true'></i> 
						<% end %>

				</td>
				
		</tr>       
          
			   

			 

			

      