<div class="row " style="margin-bottom: 0px">
        <div class="col s12" id="<%= task_temporary.id%>">
          <div class="card grey lighten-3">
            <div class="card-content ">
             <p> <%= task_temporary.description %><p>
             <strong> Tipo de Tarea:</strong> <%= task_temporary.type %> 
			  <strong> Estado: </strong> <%= task_temporary.state.capitalize%>
				<strong>Progreso: </strong> <%= task_temporary.progress%>

            </div>
            <div class="card-action">
            	<a href= "<%= edit_task_path(task_temporary)%>" ><i class="material-icons">edit</i></a>
               
					
			   

			  <%= link_to task_path(task_temporary), method: :delete, data: { confirm: 'Quieres borrar ? ' },:remote => true  do %>
			 	<i class="material-icons">delete</i>
				<% end %>

				<% case task_temporary.priority %>
				<%  when "Alta" then %>
				     <span class="new badge red" data-badge-caption="Prioridad <%= task_temporary.priority.capitalize %>" > </span>
				<%  when "Media"  then  %>
					 <span class="new badge orange" data-badge-caption="
					 Prioridad <%= task_temporary.priority.capitalize %>" ></span>
				<% when "Baja"  then  %>
				     <span class="new badge gren" data-badge-caption="
				     Prioridad <%= task_temporary.priority.capitalize %>" > </span>
			 	<% end %>

            </div>
          </div>
        </div>
      </div>
		


						
